{% extends 'bootstrap/base.html'%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   {% if title %}
   <title>{{ title }}</title>
   {% else %}
   <title>Pitch It Up!! </title>
   {% endif %}
 </head>
 <body>

   {% block content %}

   {% endblock %}

 </body>
</html>