{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
{% endblock %}

<br>
<br>
<br>
<br>

<script>
  $(document).ready(function(){
    alert("hi");
  });
</script>

<body>
  {% block content %}
  <br>
  <br>
  <div class="container">
    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
    <br>
    <br>
    <br>
    <div class="card-columns">
      {% for category in category[::-1] %}

      <div class="card bg-transparent border-success">
        <div class="card-header bg-transparent border-success">
          {{category.title}}
        </div>
        <div class="card-body text">
          <blockquote class="blockquote mb-0">
            <p>{{category.pitch}}</p><br>
            <footer class="blockquote-footer bg-transparent border-success">{{category.author}}
              <br><cite title="Source Title">Publish date: {{category.date.strftime('%Y-%m-%d')}}</cite>
            </footer>
          </blockquote>
        </div>
        <div class="card-footer bg-transparent border-success">
          <button type="button" class="btn btn-outline-success btn-sm"><a
              href="/new_comment/{{category.id}}">Comment</a></button> <button type="button"
            class="btn btn-outline-success btn-sm"><a href="/comments/{{category.id}}">View comments</a></button>
        </div>

        <p id="likeCount"></p>

        <!-- upvote and downvote -->
        <div class="card-footer bg-transparent border-success">
          <button type="button" id="like" class="btn btn-info btn-sm">

            <a class="text-decoration-none text-light" href="">Like <i class="fas fa-thumbs-up"></i></a></button>
          <button type="button" class="btn btn-danger btn-sm"><a class="text-decoration-none text-light" href="">Dislike
              <i class="fas fa-thumbs-down"></i></a>
          </button>
        </div>
      </div>

      {% endfor %}

    </div>
    {% endblock %}
</body>