{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}

<body>
  <br>
  <div class="d-flex justify-content-center">
    <div class="card-groups">
      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Life</div>
        <div class="card-body text-info">
          <h5 class="card-title">Pitches about life</h5>
          <p class="card-text">Want to change peoples mindsets, then give a pitch on best life practices!!</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/life">Read Pitches</a></button>
        </div>
      </div>

      <!-- pitches about coding -->
      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Coding</div>
        <div class="card-body text-info">
          <h5 class="card-title">Pitches about coding</h5>
          <p class="card-text">Want to change peoples mindsets, then give a pitch on best coding practices!!</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/coding">Read Pitches</a></button>
        </div>
      </div>