{% extends 'base.html'%}

<!-- styles block -->
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}
{% block content %}

<body>
  <br>
  <div class="d-flex justify-content-center">
    <div class="card-groups">
      <div class="card border-info mb-5" style="max-width: 100%;">
        <div class="card-header">Values</div>
        <div class="card-body text-info">
          <h5 class="card-title">Pitches about values</h5>
          <p class="card-text">Changing values is worthy and give a pitch in 60 seconds!</p>
          <button type="button" class="btn btn-outline-success"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-success"><a href="/categories/life">Read Pitches</a></button>
        </div>
      </div>

      <!-- pitches about coding -->
      <div class="card border-info mb-5 shadow" style="max-width: 100%;">
        <div class="card-header">Coding</div>
        <div class="card-body text-info">
          <h5 class="card-title">Pitches about coding</h5>
          <p class="card-text">Daily coding change peoples mindsets and  give a pitch on best coding practices in one minute!</p>
          <button type="button" class="btn btn-outline-success"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-success"><a href="/categories/coding">Read Pitches</a></button>
        </div>
      </div>

      <!-- pitches about eduction -->
      <div class="card border-info mb-5" style="max-width: 100%;">
        <div class="card-header"> Education</div>
        <div class="card-body text-info">
          <h4 class="card-title">Education Pitches</h4>
          <p class="card-text">Education change peoples mindsets and give a pitch on how best to make things real!</p>
          <button type="button" class="btn btn-outline-success"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-success"><a href="/categories/Education">Read Pitches</a></button>
        </div>
      </div>

    </div>
  </div>

  {% endblock%}
</body>